.idea/*
__pycache__/*
build*/
dist/
r*.csv
!Donnees_TMs/Annee_1/results/r19560.csv
!Donnees_TMs/Annee_1/results/r17504.csv
!Donnees_TMs/Annee_1/results/r16001.csv
!Donnees_TMs/Annee_1/results/r18375.csv
!Donnees_TMs/Annee_1/results/r20531.csv
!Donnees_TMs/Annee_1/results/r18010.csv
!Donnees_TMs/Annee_1/results/r16617.csv
!Donnees_TMs/Annee_1/results/r16450.csv
!Donnees_TMs/Annee_1/results/r16397.csv
!Donnees_TMs/Annee_1/results/r15999.csv
!Donnees_TMs/Annee_1/results/r16398.csv
!Donnees_TMs/Annee_1/results/r19500.csv
!Donnees_TMs/Annee_1/results/r16967.csv
!Donnees_TMs/Annee_1/results/r19318.csv
!Donnees_TMs/Annee_1/results/r17862.csv
!Donnees_TMs/Annee_1/results/r17867.csv
!Donnees_TMs/Annee_1/results/r20788.csv
!Donnees_TMs/Annee_1/results/r20353.csv
!Donnees_TMs/Annee_1/results/r20092.csv
!Donnees_TMs/Annee_2/results/r4027.csv
!Donnees_TMs/Annee_2/results/r5351.csv
!Donnees_TMs/Annee_2/results/r6691.csv
!Donnees_TMs/Annee_2/results/r3155.csv
!Donnees_TMs/Annee_2/results/r4839.csv
!Donnees_TMs/Annee_2/results/r5660.csv
!Donnees_TMs/Annee_2/results/r3563.csv
!Donnees_TMs/Annee_2/results/r6516.csv
!Donnees_TMs/Annee_2/results/r2520.csv
!Donnees_TMs/Annee_2/results/r2782.csv
!Donnees_TMs/Annee_2/results/r2437.csv
!Donnees_TMs/Annee_2/results/r2833.csv
!Donnees_TMs/Annee_2/results/r2726.csv
!Donnees_TMs/Annee_2/results/r6720.csv
!Donnees_TMs/Annee_2/results/r4900.csv
!Donnees_TMs/Annee_2/results/r3388.csv
!Donnees_TMs/Annee_2/results/r2732.csv
!Donnees_TMs/Annee_2/results/r5360.csv
!Donnees_TMs/Annee_2/results/r4672.csv
!Donnees_TMs/Annee_2/results/r4609.csv
!Donnees_TMs/Annee_28/results/r17113.csv
!Donnees_TMs/Annee_28/results/r18620.csv
!Donnees_TMs/Annee_28/results/r18695.csv
!Donnees_TMs/Annee_28/results/r18322.csv
!Donnees_TMs/Annee_28/results/r17434.csv
!Donnees_TMs/Annee_28/results/r15581.csv
!Donnees_TMs/Annee_28/results/r18224.csv
!Donnees_TMs/Annee_28/results/r19836.csv
!Donnees_TMs/Annee_28/results/r22487.csv
!Donnees_TMs/Annee_28/results/r15056.csv
!Donnees_TMs/Annee_28/results/r19837.csv
!Donnees_TMs/Annee_28/results/r19838.csv
!Donnees_TMs/Annee_28/results/r16648.csv
!Donnees_TMs/Annee_28/results/r23684.csv
!Donnees_TMs/Annee_28/results/r21131.csv
!Donnees_TMs/Annee_28/results/r23405.csv
!Donnees_TMs/Annee_28/results/r22663.csv
!Donnees_TMs/Annee_28/results/r16181.csv
!Donnees_TMs/Annee_28/results/r15762.csv
!Donnees_TMs/Annee_28/results/r23255.csv
!Donnees_TMs/Annee_1/results/r19560.csv
!Donnees_TMs/Annee_1/results/r17504.csv
!Donnees_TMs/Annee_1/results/r16001.csv
!Donnees_TMs/Annee_1/results/r18375.csv
!Donnees_TMs/Annee_1/results/r20531.csv
!Donnees_TMs/Annee_1/results/r18010.csv
!Donnees_TMs/Annee_1/results/r16617.csv
!Donnees_TMs/Annee_1/results/r16450.csv
!Donnees_TMs/Annee_1/results/r16397.csv
!Donnees_TMs/Annee_1/results/r15999.csv
!Donnees_TMs/Annee_1/results/r16398.csv
!Donnees_TMs/Annee_1/results/r19500.csv
!Donnees_TMs/Annee_1/results/r16967.csv
!Donnees_TMs/Annee_1/results/r19318.csv
!Donnees_TMs/Annee_1/results/r17862.csv
!Donnees_TMs/Annee_1/results/r17867.csv
!Donnees_TMs/Annee_1/results/r20788.csv
!Donnees_TMs/Annee_1/results/r20353.csv
!Donnees_TMs/Annee_1/results/r20092.csv
!Donnees_TMs/Annee_2/results/r4027.csv
!Donnees_TMs/Annee_2/results/r5351.csv
!Donnees_TMs/Annee_2/results/r3563.csv
!Donnees_TMs/Annee_2/results/r5660.csv
!Donnees_TMs/Annee_2/results/r4839.csv
!Donnees_TMs/Annee_2/results/r6691.csv
!Donnees_TMs/Annee_2/results/r3155.csv
!Donnees_TMs/Annee_2/results/r6516.csv
!Donnees_TMs/Annee_2/results/r2726.csv
!Donnees_TMs/Annee_2/results/r3388.csv
!Donnees_TMs/Annee_2/results/r2833.csv
!Donnees_TMs/Annee_2/results/r2782.csv
!Donnees_TMs/Annee_2/results/r2520.csv
!Donnees_TMs/Annee_2/results/r2437.csv
!Donnees_TMs/Annee_2/results/r4900.csv
!Donnees_TMs/Annee_2/results/r6720.csv
!Donnees_TMs/Annee_2/results/r2732.csv
!Donnees_TMs/Annee_2/results/r3375.csv
!Donnees_TMs/Annee_2/results/r4957.csv
!Donnees_TMs/Annee_2/results/r2960.csv
!Donnees_TMs/Annee_28/results/r17113.csv
!Donnees_TMs/Annee_28/results/r18695.csv
!Donnees_TMs/Annee_28/results/r18620.csv
!Donnees_TMs/Annee_28/results/r18322.csv
!Donnees_TMs/Annee_28/results/r15581.csv
!Donnees_TMs/Annee_28/results/r17434.csv
!Donnees_TMs/Annee_28/results/r16648.csv
!Donnees_TMs/Annee_28/results/r23684.csv
!Donnees_TMs/Annee_28/results/r19838.csv
!Donnees_TMs/Annee_28/results/r15056.csv
!Donnees_TMs/Annee_28/results/r19837.csv
!Donnees_TMs/Annee_28/results/r19836.csv
!Donnees_TMs/Annee_28/results/r18224.csv
!Donnees_TMs/Annee_28/results/r22487.csv
!Donnees_TMs/Annee_28/results/r15316.csv
!Donnees_TMs/Annee_28/results/r22573.csv
!Donnees_TMs/Annee_28/results/r22663.csv
!Donnees_TMs/Annee_28/results/r18196.csv
!Donnees_TMs/Annee_28/results/r21131.csv
!Donnees_TMs/Annee_28/results/r23405.csv